.item {
  position: relative;
  cursor: pointer;
}

.item__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 43, 43, 0.7);
}

.item:hover .item__overlay {
  display: flex;
}

.item__name {
  font-size: 16px;
  line-height: 1.1;
  color: #fff;
  margin: 0;
  font-weight: 700;
}


@media screen and (max-width: 540px) {
  .item__img {
    height: 300px;
  }

  .item__name {
    font-size: 14px;
  }
}
